body{
    background-image: linear-gradient(#00d716,#000000);
}
.popup_div{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 500px;
}

.side_bar{
    height: 100%;
}


.popup_body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

textarea{
    width: 90%;
    height: 60%;
    background-color: black;
    color: #24e706;
}

button{
    width: 90%;
    background-color: #000000;
    color: #24e706;
    border-radius: 5px;
    border-width: 3px;
}
button:hover{
    width: 90%;
    background-color: #24e706;
    color: #000000;
    border-radius: 5px;
    border-width: 3px;
}